*{
  margin: 0;
  padding: 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn.dropdown-toggle{
  padding: 15px;
  line-height: 15px;
}
body{
  font-size:  16px;
  font-family: 'sans-serif';
}

.contenido {
  margin-top: 2em;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}
.contenido.contenido_login{
    width: 50%;
}
.contenido.contenido_main{
    width: 70%;
}
.contenido_table{
  width: 85%;
}
div.item-search {
  text-align: end;
  background-color: #282A35;
  line-height: 3;
}
#nav-item-search {
  display: none;
}
.number_custom_styles{
  background-color: #f2f2f2;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color .3s ease;
  width: 15%;
}
.select_custom_styles{
  background-color: #f2f2f2;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .3s ease;
}